# Install the package and all dependencies:
#   pip install -e .
#
# With browser-validator support:
#   pip install -e ".[browser]"
#
# With dev tools (pytest, ruff, mypy):
#   pip install -e ".[dev]"
